ul {
  padding: 0;
  margin: 0;
}

/* Design for list*/
ul li {
  border-radius: 15px;
  position: relative;
  padding: 10px 6px 10px 20px;
  background: rgb(201, 196, 196);
  /* The user cannot select the item */
  user-select: none;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

li p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 12px;
}
li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Sets every other item in a darker color*/
ul li:nth-child(odd) {
  background: #dbdada;
}

/* Style the close button */
.close {
  height: 12px;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Style the header */
.header {
  border-radius: 15px;
  background-color: #6db8e4;
  padding: 32px 38px;
  color: white;
  text-align: center;
}

/* Clears and remove float area after header. Inspired from forum/stack overflow */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/*Styling for input field*/
input {
  border-radius: 15px;
  width: 80%;
  padding: 9px;
  font-size: 15px;
  float: left;
}

/*Styling for add-button*/
.addBtn {
  border-radius: 15px;
  padding: 9px;
  width: 10%;
  background: #cccaca;
  color: #555;
  float: right;
  text-align: center;
  font-size: 15px;
}

/*Styling for close/remove button*/
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

#userSearch {
margin-top: 5px;
}
